In [2]:
import pandas as pd

# 加载数据集
data = pd.read_csv('dat_SalesCustomers.csv')

# 初始数据量大小
initial_size = data.shape[0]

# 删除具有特定列缺失值的行
data_clean = data.dropna(subset=['category', 'price', 'gender', 'age', 'payment_method'])

# 剩余观测量
remaining_size = data_clean.shape[0]

print(f"Initial number of observations: {initial_size}")
print(f"Remaining number of observations after removing missing values: {remaining_size}")

data_clean.head()

Initial number of observations: 99457
Remaining number of observations after removing missing values: 99338

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall,gender,age,payment_method
0,I178410,C100004,Clothing,5,1500.40,26-11-2021,Metrocity,Male,61.0,Credit Card
1,I158163,C100005,Shoes,2,1200.34,03-03-2023,Kanyon,Male,34.0,Cash
2,I262373,C100006,Toys,3,107.52,01-12-2022,Cevahir AVM,Male,44.0,Credit Card
3,I334895,C100012,Food & Beverage,5,26.15,15-08-2021,Kanyon,Male,25.0,Cash
4,I202043,C100019,Toys,1,35.84,25-07-2021,Metrocity,Female,21.0,Credit Card

#### (B)
Based on the variable payment method, generate a dummy variable for cash payment and
call it paid in cash. Also, based on gender, create a dummy for males, male. What fraction
of transactions were carried out in cash? What fraction of the overall sales (in TRY) were
carried out in cash?

In [3]:
# 创建哑变量
data_clean['paid_in_cash'] = (data_clean['payment_method'] == 'Cash').astype(int)
data_clean['male'] = (data_clean['gender'] == 'male').astype(int)

# 计算现金交易的比例
fraction_cash_transactions = data_clean['paid_in_cash'].mean()
# 计算现金销售额的比例
fraction_cash_sales = data_clean.loc[data_clean['paid_in_cash'] == 1, 'price'].sum() / data_clean['price'].sum()

print(f"Fraction of transactions carried out in cash: {fraction_cash_transactions:.2f}")
print(f"Fraction of overall sales in cash: {fraction_cash_sales:.2f}")

Fraction of transactions carried out in cash: 0.45
Fraction of overall sales in cash: 0.45

C:\Users\purga\AppData\Local\Temp\ipykernel_42820\1373369933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['paid_in_cash'] = (data_clean['payment_method'] == 'Cash').astype(int)
C:\Users\purga\AppData\Local\Temp\ipykernel_42820\1373369933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['male'] = (data_clean['gender'] == 'male').astype(int)